*{
	font-family:Arial;
	margin:0;
	padding:0;
	border:0;
}

.header{
	width: 100%;
	height: 40%;
	background: #333300;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
	align-content: center;
	text-align:center;
}

.content {
	width:100%;
	height:50%;
	background:rgb(247, 133, 52);


}

.footer
{
	width:100%;
	height:10%;
	background: #B5B56B;
	text-align:center;
	clear:both;
}

.logo h1{
font: normal 300% 'century gothic', arial, sens-sefif;
color: rgb(247, 133, 52);
}

ul.menu{
	float: right;

}
ul.menu li{
	float: left;
	list-style: none;
	margin: 1px 5px 0 0;
}

ul.menu li a{
	font: normal 100% 'trebuchet ms', sans-serif;
	font-weight:bold;
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;
	text-decoration: none;
	color: rgb(247, 133, 52);
}
 
 ul.menu li a:hover{
 	color: black ;
 }

.send input[type="text"], textarea{
	margin-top: 50px;
	border: solid 1px rgb(247, 133, 52);
	margin-bottom: 0%;
}
.send input[type="text"]{
	width: 400px;
	border-radius: 5px;
	
}
.send textarea {
	width: 400px;
	height: 130px;
	border-radius: 5px;
	
}
.send input[type="submit"] {
background-color: rgb(247, 133, 52);
color: black;
border-radius: 5px;
padding: 17px;
}