body {
    background-image: linear-gradient(to top right, #b3daec, #f5f3f3);
}

.info-box {
    background-image: linear-gradient(to top, #37484e, #64a0b6);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
